body {
  margin: 0;
}

header {
  background-color: #F8E8F6;
  text-align: center;
}

.logo {
  color: #DD88CF;
  font-size: 40px;
  font-family: 'Anton';
}

header input {
  font-size: 20px;
  margin: 20px 0px;
}